:root{
    --hover-color: white;
    --button-color: rgb(0, 153, 0);
    --background-color: white;
    --canvas-height: 340px;
    --canvas-width: 550px;
    background-color: var(--background-color);
}

.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    margin-top: 20px;
    width: 320px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
    
  }
  
  .react-autosuggest__suggestions-container--open {
    display: contents;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 42px;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
}

.country{
    height: var(--canvas-height);
    width: var(--canvas-width);
}

.panelButton{
    position: relative;
    vertical-align: middle;
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    border: 4px solid;
    color: var(--button-color);
    border-color: var(--button-color);
    cursor: pointer;
    transition: .10s linear,color .10s linear;
}


.align {
  padding: 10px;
  writing-mode: sideways-lr;
}

.canvas {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    border: 7px solid;
    border-color: var(--button-color);
    border-radius: 15%;
    min-height: var(--canvas-height);
    max-width: var(--canvas-width);
}

.submitButton{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
  
  button {
    position: relative;
    vertical-align: middle;
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    border: 4px solid;
    color: var(--button-color);
    border-color: var(--button-color);
    cursor: pointer;
    transition: .10s linear,color .10s linear;
  }

.app{
    position: relative;
    text-align: center;
}

@media all and (max-width: 600px) {
    .title {
        font-size: 26px;
        padding-left: 15px;
        padding-right: 15px;
    }
    :root{
        --canvas-height: 340px;
        --canvas-width: 78vw;
    }
}

@media all and (max-height: 560px) {
    :root{
        --canvas-height: 50vh;
        --canvas-width: 78vw;
    }
}

@media all and (max-width: 480px) {
    .title {
        font-size: 22px;
        padding-left: 9px;
        padding-right: 9px;
    }
    .submitButton{
        margin-top: 15px;
        width: 160px;
        height: 8vh;
        font-size: 18px;
    }
    .canvas {
        margin-top: 15px;
        min-height: 50vh;
        max-width: 78vw;
    }
    .panelButton{
        margin-left: 7.5px;
        margin-right: 7.5px;
        border-width: 3px;
        width: 22px;
        height: 22px;
    }
}

@media all and (max-height: 460px) {
    .title {
        font-size: 22px;
        padding-left: 9px;
        padding-right: 9px;
    }
    .submitButton{
        margin-top: 15px;
        width: 160px;
        height: 8vh;
        font-size: 18px;
    }
    .canvas {
        margin-top: 15px;
    }
    .panelButton{
        margin-left: 7.5px;
        margin-right: 7.5px;
        border-width: 3px;
        width: 22px;
        height: 22px;
    }
}